.logout-button {
    padding: 10px 20px;
    background-color: #dc3545; /* Màu đỏ cho logout */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.logout-button:hover {
    background-color: #c82333;
}